html {
  background-color: #eaf8e2;
}

.amplify-button {
  background-color: transparent;
  border: none;
  color: #64ae43;
}

.amplify-button:hover {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.amplify-button--fullwidth,
.amplify-button--primary {
  background-color: #f25c54;
  color: #ffffff;
}

.amplify-button--fullwidth:hover,
.amplify-button--primary:hover {
  background-color: #ff847e;
  color: #ffffff;
}

.amplify-button--link {
  color: #000000;
}

.amplify-button--link:hover {
  color: #f25c54;
  background-color: transparent;
}

.amplify-input {
  background-color: #ffffff;
}

.amplify-field__show-password {
  background-color: #ffffff;
  border: 1px solid #838c95;
  color: #838c95;
}

.amplify-field__show-password:hover {
  background-color: #c9ffa2;
  border: 1px solid #838c95;
  color: #838c95;
}

.amplify-field__show-password:focus {
  background-color: #c9ffa2;
}

.amplify-tabs {
  border: none;
}

.amplify-tabs-item {
  border-radius: 10px 10px 0 0;
}

.amplify-tabs-item[data-state="active"] {
  background-color: #96e072;
  border-color: #64ae43;
  color: #000000;
}

.amplify-tabs-item[data-state="inactive"] {
  background-color: #f4fbf0;
  border-color: #c0c0c0;
  color: #c0c0c0;
}

[data-amplify-container] {
  width: 90%;
  max-width: 500px;
}

[data-amplify-authenticator] [data-amplify-router] {
  border-radius: 10px;
  border: none;
  background-color: #96e072;
}

[data-amplify-router-content] {
  background-color: #96e072;
  border-radius: 0 0 10px 10px;
}

[data-amplify-authenticator-confirmsignup],
[data-amplify-authenticator-resetpassword],
[data-amplify-authenticator-confirmresetpassword] {
  background-color: #96e072;
  border-radius: 10px;
}
