@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  color: #f25c54;
  font-size: 4rem;
  font-family: "Titan One", cursive;
  text-shadow: 1px 1px 0 #1a7431;
  text-align: center;
  margin-bottom: 20px;
  line-height: 4rem;
}
